.header {
  font-family: Arial;
}

.answer-box {
  height: 30px;
  width: 30px;
  display: inline-block;
  border: 1px solid black;
  text-align: center;
}

.horizontal > * {
  display: inline-block;
}

.vertical > * {
  display: block;
  text-align: center;
}

.question-paragraph {
  /*height: 30px;*/
  margin:5px 0;
  font-family: Arial;
  display: block;
}

.answer-list {
  padding: 0;
}
