.header {
  font-family: Arial;
}

.answer-box {
  height: 25px;
  width: 25px;
  display: inline-block;
  text-align: center;
  font-size: 12px;
}

.bordered-gray {
  border: 1px solid #ddd;
}

.letter-box {
  border: 1px solid #000;
  height: 100%;
  width: 100%;
  text-align: center;
}

.horizontal>* {
  display: inline-block;
}
.question-paragraph {
  margin: 5px 0;
  font-family: Arial;
  font-size: 15px;
  display: block;
}

.answer-list {
  padding: 0;
}
